<div class="div">
    <h3 class="menu">Consultar Multas</h3>
    <h3 class="menu">Reglamento de transito</h3>
    <h3 class="menu">Pico y placa</h3>
    <h3 class="menu">Saca tu pase</h3>
    <h3 class="menu">Agregar una multa</h3>


</div>

<h1 class="h1">Bienvenido COLEGA</h1>
<button (click)="clic()">Cerrar Secion</button>

<div class="contenedor">
<div class="card">
    <div class="card-image"></div>
    <div class="category"> Illustration </div>
    <div class="heading"> A heading that must span over two lines
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> Illustration </div>
    <div class="heading"> A heading that must span over two lines
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> Illustration </div>
    <div class="heading"> A heading that must span over two lines
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> Illustration </div>
    <div class="heading"> A heading that must span over two lines
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> Illustration </div>
    <div class="heading"> A heading that must span over two lines
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
</div>
<div class="card">
    <div class="card-image"></div>
    <div class="category"> Illustration </div>
    <div class="heading"> A heading that must span over two lines
        <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
    </div>
</div>
</div>