<div class="body">
  <div class="container">
    <div class="card">
      <a class="singup">Sign In</a>
      <div class="inputBox1">
        <input type="text" required [(ngModel)]="loginData.email" name="email" id="email">
        <span class="user">Email</span>
      </div>
      <div class="inputBox">
        <input type="password" required [(ngModel)]="loginData.password" name="password" id="password">
        <span>Password</span>
      </div><br>
      <div class="hola">
        <button (click)="login()" class="enter">ENTER</button>
        <button (click)="clic()" class="enter">SING UP</button>
      </div>
    </div>
  </div>
</div>
