<form (ngSubmit)="guardarDatosLocalStorage()">
  <div class="body">
    <div class="container">
      <div class="card">
        <a class="singup">Sign Up</a>
        <div class="inputBox1">
          <input type="email" required [(ngModel)]="users.email" name="email" id="email">
          <span class="user">Email</span>
        </div>
        <div class="inputBox">
          <input type="text" required [(ngModel)]="users.username" name="username" id="username">
          <span>Username</span>
        </div>
        <div class="inputBox">
          <input type="password" required [(ngModel)]="users.password" name="password" id="password">
          <span>Password</span>
        </div><br>
        <div class="hola">
          <button type="submit" class="enter">Enviar datos</button>
          <button (click)="click()" class="enter">SING IN</button>
        </div>
      </div>
    </div>
  </div>
</form>
