.div{
    float: left;
    width:235px ;
    height: 100vh; /* 100% de la altura de la ventana (viewport height) */
    background-color: rgb(160, 160, 160);
}
.menu{
    padding-left: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;

}
h1{
    text-align: center;
    

}

.card {
    margin-right: 500px;
    width: calc(25.33% - 20px); /* Ancho de cada tarjeta, restando el espacio entre ellas */
    margin: 10px; 
    background: white;
    padding: .4em;
    border-radius: 6px;
  }
  
  .card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
  .contenedor{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Envuelve las tarjetas */

  }
  .container-input {
    position: relative;
     margin-left: 300px;
  }
  
  .input {
    width: 400px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 500px;
  }


  button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    margin-left: 1000px;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
  
  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }
  







  